:root {
  /*****************
    COLOR VARIABLES 
   *****************/

  --violet-100: rgba(89, 100, 224, 0.1);
  /* #5964E0*/
  --violet-200: rgba(89, 100, 224, 0.35);
  /* #5964E0*/
  --violet-300: hsl(235, 82%, 77%);
  /* #939BF4 */
  --violet-500: hsl(235, 69%, 61%);
  /* #5964E0*/

  --neutral-white-100: rgba(255, 255, 255, 0.1);
  /* #FFFFFF */
  --neutral-white-200: rgba(255, 255, 255, 0.35);
  /* #FFFFFF */
  --neutral-white-300: rgba(255, 255, 255, 0.5);
  /* #FFFFFF */
  --neutral-white: hsl(0, 0%, 100%);
  /* #FFFFFF */

  --gray-300: hsl(210, 22%, 96%);
  /* #F4F6F8 */
  --gray-500: hsl(212, 23%, 69%);
  /* #9DAEC2 */
  --gray-600: rgb(110, 128, 152, 0.2);
  /* #6E8098 */
  --gray-700: hsl(214, 17%, 51%);
  /* #6E8098 */

  --blue-700: hsl(219, 29%, 14%);
  /* #19202D */
  --midnight: hsl(220, 29%, 10%);
  /* #121721 */

  /*******
    FONTS
   *******/
  font-family: 'Kumbh Sans', sans-serif;
  color: var(--blue-700);
  font-weight: 700;
  font-style: normal;

  scroll-behavior: smooth;
  background-color: var(--neutral-white-700);
}

.App {
  flex-wrap: wrap;
  min-height: 100vh;
}

/***************
  COLOR CLASSES
 ***************/
.bg-white {
  background-color: var(--neutral-white) !important;
}

.bg-midnight {
  background-color: var(--midnight) !important;
}

.bg-blue-700 {
  background-color: var(--blue-700) !important;
}

.bg-gray-300 {
  background-color: var(--gray-300) !important;
}

.font-white {
  color: var(--neutral-white) !important;
}

.font-violet-500 {
  color: var(--violet-500) !important;
}

.font-gray-500 {
  color: var(--gray-500) !important;
}

.font-blue-700 {
  color: var(--blue-700) !important;
}

.font-gray-700 {
  color: var(--gray-700) !important;
}

/********
  RESETS
 ********/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

nav ul {
  list-style: none;
}

/* 
 * Resets from 
 * https://www.joshwcomeau.com/css/ custom-css-reset/ 
 */
html,
body,
#__next {
  height: 100%;
}

html,
body {
  width: 100%;
}

/* Use a more-intuitive box-sizing model.*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Add accessible line-height */
body {
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/********************
  SHARED CLASS TYPES
 ********************/

.flex-container {
  display: flex;
}

.dark-container {
  background-color: var(--blue-700) !important;
}

.dark-font {
  color: var(--neutral-white) !important;
}

/************
  TYPOGRAPHY 
 ************/
h1 {
  font-size: 1.75rem;
  line-height: 2.188rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.813rem;
}

h3,
.h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--gray-700);
  font-weight: 400;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: var(--violet-500);
}

p,
li {
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--gray-500);
  font-weight: 400;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

/****************
  BUTTON PRESETS 
 ****************/
button,
.button {
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0.875rem 1.5rem;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

.prim-btn {
  color: var(--neutral-white);
  background-color: var(--violet-500);
  /* box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25); */
}

.prim-btn:active {
  background-color: var(--violet-300);
}

.prim-btn:disabled {
  background-color: var(--violet-300);
}

.sec-btn-light {
  color: var(--violet-500);
  background-color: var(--violet-100);
}

.sec-btn-light:active:enabled {
  color: var(--violet-500);
  background-color: var(--violet-200);
}

.sec-btn-light:disabled {
  color: var(--gray-300);
}

.sec-btn-dark {
  color: var(--neutral-white);
  background-color: var(--neutral-white-100);
}

.sec-btn-dark:active:enabled {
  color: var(--neutral-white);
  background-color: var(--neutral-white-200);
}

.sec-btn-dark:disabled {
  color: var(--gray-700);
  opacity: 0.1;
}

@media (min-width: 769px) {
  .prim-btn:hover:enabled {
    background-color: var(--violet-300);
  }

  .sec-btn-light:hover:enabled {
    color: var(--violet-500);
    background-color: var(--violet-200);
  }

  .sec-btn-dark:hover:enabled {
    color: var(--neutral-white);
    background-color: var(--neutral-white-200);
  }
}

/****************
  INPUT PRESETS 
 ****************/

input {
  font-weight: 400;
}

.input-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.input-container input::placeholder {
  font-weight: 400;
  opacity: 0.5;
}

.dark-container input::placeholder {
  color: var(--neutral-white);
}

.search-bar {
  border-radius: 6px;
  height: 80px;
  background-color: var(--neutral-white);
  overflow: hidden;
}
.input-container {
  flex-wrap: nowrap;
  height: 80px;
  padding-block: 1.75rem;
}

.input-container:not(:first-child) {
  border-left: 1px solid var(--gray-600);
  padding-inline-start: 1.5rem;
}

.input-container input {
  padding-inline-start: 1rem;
}

/*****************
  CUSTOM CHECKBOX 
 *****************/

/* 
  Code altered from 
  https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
*/

/* Customize the label (the container) */
.checkbox-wrapper {
  padding-inline-start: 2rem;
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  opacity: 1;
}

/* Hide the browser's default checkbox */
.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: var(--violet-500);
  opacity: 0.1;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

/* On mouse-over, add opacity */
.checkbox-wrapper:hover input ~ .checkmark {
  opacity: 0.25;
}

/* When the checkbox is checked*/
.checkbox-wrapper input:checked ~ .checkmark {
  opacity: 1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-wrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-wrapper .checkmark:after {
  left: 8px;
  top: 4px;
  width: 7px;
  height: 13px;
  border: solid var(--neutral-white);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
