#Home {
  background-color: transparent;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
}

.job-cards {
  margin-inline: 1.5rem;
  flex-wrap: wrap;
  background-color: transparent;
}

/********
  TABLET
 ********/
@media (min-width: 680px) {
  .job-cards {
    column-gap: 0.688rem;
    margin-inline: 2.5rem;
  }
}

/********
  DESKTOP
 ********/
@media (min-width: 992px) {
  .job-cards {
    column-gap: 1.875rem;
    margin-inline: 0;
    width: max(900px, 78vw);
  }
}
