.job {
  padding-inline: 1.5rem;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.job-header {
  padding-block: 3rem 2rem;
  align-items: center;
  flex-direction: column;
  width: calc(100vw - 3rem);
  top: -10px;
  position: absolute;
  border-radius: 6px;
}

.job-header .company-logo {
  left: 50%;
  transform: translate(-50%, 0);
}

.job-header .url {
  margin-block-start: 0.75rem;
}

.job-header button {
  margin-block-start: 1.5rem;
  width: 9.25rem;
}

/********
  TABLET
 ********/
@media (min-width: 680px) {
  .job-header {
    flex-direction: row;
    height: 140px;
    padding-block: 0;
    align-items: center;
    top: -40px;
  }
  .job-header .company-name {
    flex-direction: column;
    align-items: center;
    margin-inline-start: 2.5rem;
  }
  .job-header .company-logo {
    position: static;
    transform: translate(0, 0);
    border-radius: 0;
    height: 140px;
    width: 140px;
    padding-inline: 1.75rem;
  }
  .job-header .company-logo img {
    width: 100%;
  }

  .job-header form {
    margin-right: 2.5rem;
    margin-left: auto;
  }
  .job-header button {
    margin-block-start: 0;
  }
}

/********
    DESKTOP
   ********/
@media (min-width: 992px) {
  .job-header {
    width: 45.625rem;
  }
}
