.searchbar {
  width: 100%;
  min-height: 80px;
  background-color: transparent;
  top: 97px;
  z-index: 1;
  position: fixed;
  padding-inline: 1.5rem;
  justify-content: center;
}

.searchbar form {
  flex-wrap: nowrap;
  align-items: center;
  padding-inline: 1.5rem;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.searchbar form .input-container {
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
}

.searchbar form input {
  flex-grow: 1;
  flex-shrink: 1;
  width: 5rem;
}

.searchbar form .bi-funnel-fill {
  margin-inline-end: 1.5rem;
  margin-inline-start: 0.5rem;
}

.searchbar form button {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/********
  TABLET
 ********/
@media (min-width: 680px) {
  .searchbar {
    top: 120px;
  }
  .searchbar form button {
    width: 80px;
  }

  .title {
    flex-basis: 35%;
  }
  .location {
    flex-basis: 35%;
  }
  .checkbox-container {
    flex: 1 1 25%;
    justify-content: space-between;
    align-items: center;
  }
}

/*********
  DESKTOP
 *********/
@media (min-width: 992px) {
  .searchbar .checkbox-container {
    flex: 1 1 11rem;
  }
  .searchbar {
    /* padding-inline: 10rem; */
  }
  .searchbar form {
    width: max(900px, 78vw);
  }
}
