.searchbar-mobile {
  width: 100%;
  min-height: 80px;
  background-color: transparent;
  top: 97px;
  z-index: 1;
  position: fixed;
  padding-inline: 1.5rem;
}

.searchbar-mobile form {
  flex-wrap: nowrap;
  align-items: center;
  padding-inline: 1.5rem;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.searchbar-mobile form .input-container {
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
}

.searchbar-mobile form input {
  flex-grow: 1;
  flex-shrink: 1;
  width: 5rem;
}

.searchbar-mobile form .bi-funnel-fill {
  margin-inline-end: 1.5rem;
  margin-inline-start: 0.5rem;
}

.searchbar-mobile form button {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
