footer {
  margin-block-start: 0rem;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

footer h3 {
  font-size: 1.125rem;
}

footer .contacts {
  gap: 1.5rem;
}

footer .contact-container {
  font-size: 1.5rem;
}

/********
  TABLET
 ********/
@media (min-width: 680px) {
  footer {
    margin-block-start: 3rem;
  }
}

/*********
  DESKTOP
 *********/
@media (min-width: 992px) {
  footer {
    margin-block-start: 5rem;
  }
}
