#Login {
  min-width: 100%;
  min-height: 60vh;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
}
#Login .main-container {
  flex-direction: column;
  flex-basis: 100%;
  margin-inline: 2.25rem;
  padding: 1.5rem;
  gap: 1rem;
}

#Login .main-container .error-text {
  text-align: center;
}

#Login .input-error {
  margin-block-start: 0.5rem;
  font-size: 0.9rem;
  opacity: 0.5;
}

#Login .main-container form {
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

#Login form .input-container {
  flex-direction: column-reverse;
  padding: 0;
  height: fit-content;
}

#Login form input {
  margin-block-start: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

#Login form .submit-btn {
  margin-block-start: 0.5rem;
  margin-inline: 1.5rem;
}

#Login .main-container p {
  text-align: center;
  margin-block-start: 1rem;
}

/********
  TABLET
 ********/
@media (min-width: 680px) {
  #Login .main-container {
    padding: 3rem;
    margin-inline: 6.5rem;
    gap: 0;
  }

  #Login h1 {
    margin-block-end: 1rem;
  }

  #Login .main-container form {
    margin-block-start: 1.5rem;
    gap: 3rem;
  }

  #Login form .submit-btn {
    margin-inline: 0;
    width: 6.75rem;
    align-self: center;
  }

  #Login .sign-up-link {
    margin-block-start: 1rem;
  }
}

/********
  DESKTOP
 ********/
@media (min-width: 992px) {
  #Login .main-container {
    max-width: calc(max(50%, 48rem));
  }
}
