#Login {
  min-width: 100%;
  min-height: 60vh;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
}

/********
  TABLET
 ********/
@media (min-width: 680px) {
  #Login .sign-up-link {
    margin-block-start: 1rem;
  }
}
