.light {
  height: 50vh;
}

.dark {
  height: 50vh;
}

.test-form {
  background-image: url('./assets/desktop/bg-pattern-header.svg');
  height: 15vh;
  align-items: center;
  padding-inline-start: 2rem;
}

.dark-container {
  background-color: var(--blue-700);
}

.checkbox-container {
  padding-inline-start: 4rem;
  padding-inline-end: 1rem;
  justify-content: space-between;
  align-items: center;
}

form {
  flex-wrap: wrap;
}
