.App {
  padding-block-start: 14.5rem;
}

/********
  TABLET
 ********/
@media (min-width: 680px) {
  .App {
    padding-block-start: 16.875rem;
  }
}

/********
  DESKTOP
 ********/
@media (min-width: 992px) {
  .App {
    padding-block-start: 19.063rem;
  }
}
