nav {
  background-color: var(--violet-500);
  background-image: url('../../assets/mobile/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 136px;
  max-height: 136px;
  overflow: hidden;
  justify-content: center;
  flex-basis: 100%;
}

nav .logo {
  flex-grow: 0;
  flex-basis: 115px;
  height: 32px;
}
.nav-content {
  margin-block-start: 1.75rem;
  margin-inline: 1.5rem;
  width: 100%;
  justify-content: space-between;
}

.mode-toggle {
  max-height: 24px;
  align-items: center;
}

.sun {
  width: 20px;
  height: 18.6px;
}

.moon {
  max-width: 12px;
  max-height: 12px;
}

.toggle-switch {
  width: 48px;
  height: 24px;
  margin-inline: 1rem;
  position: relative;

  background: var(--neutral-white);
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

.toggle-switch .selector {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-inline: 5px;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  background: var(--violet-500);
}

.mode-toggle .dark {
  transform: translate(175%, -50%);
  animation: slideRight 0.5s ease-in-out;
}

/********
  TABLET
 ********/
@media (min-width: 680px) {
  nav {
    background-image: url('../../assets/tablet/bg-pattern-header.svg');
    background-color: transparent;
    height: 168px;
    max-height: 168px;
    background-size: 100% 168px;
  }
}

/********
  DESKTOP
 ********/
@media (min-width: 992px) {
  nav {
    background-image: url('../../assets/desktop/bg-pattern-header.svg');
    height: 162px;
    max-height: 162px;
    background-size: 100% 162px;
  }

  .nav-content {
    width: max(900px, 78vw);
  }
}
